.address__list {
  margin-right: 70px;
}

.address__link {
  display: block;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  &--white {
    color: $white-color;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.address__item {
  &:first-child {
    margin-bottom: 20px;
  }
  &:not(:last-child, :first-child) {
    margin-bottom: 9px;
  }
}
