.header {
  &__logo {
    color: #000000;
  }

  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;

    & > .container {
      position: relative;
    }
  }

  @media screen and (min-width: 768px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

.header__contacts {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.header__svg {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-right: 8px;
    fill: $text-color;
    @include animation-function(fill);

    &--mail {
      width: 14px;
      height: 10px;
    }

    &--tel {
      width: 10px;
      height: 14px;
    }
  }
}

.header__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.17;
  @media screen and (max-width: 767px) {
    font-size: 24px;

    &--tel {
      font-size: 34px;
      line-height: 1.18;
      letter-spacing: 0.02em;
      color: $accent-color;
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
}

// .header {
//   border-bottom: 1px solid #ececec;
//   padding-top: 24px;
//   padding-bottom: 25px;

//   &__container {
//     display: flex;
//     align-items: center;
//   }

//
// }

// .header__contacts {
//   margin-left: auto;
//   display: flex;
// }

// .header__link {
//   display: flex;
//   align-items: center;
//   color: inherit;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   text-decoration: none;
//   @include animation-function(color);

//   &:focus,
//   &:hover {
//     color: $accent-color;
//   }
// }

// .header__link:not(:first-child) {
//   margin-left: 50px;
// }

// .header__svg {
//   margin-right: 10px;
//   fill: $text-color;
//   @include animation-function(fill);

//   &--mail {
//     width: 20px;
//     height: 15px;
//   }

//   &--tel {
//     width: 16px;
//     height: 25px;
//   }

//   .header__link:focus &,
//   .header__link:hover & {
//     fill: $accent-color;
//   }
// }
